# Python Basics

### Variable in Python
- A variable is a named container used to store a data value so it can be referenced and manipulated throughout a program
### How Variable Works
- When you create a variable, the computer performs two main actions:
    - Memory Allocation: It reserves a specific spot in the computer's RAM to hold information.
    - Labeling: It associates a human-readable name (the identifier) with that memory address, so you don't have to remember complex physical locations like 0x0045f.
### Key Components
- Name (Identifier): A unique label used to call the data (e.g., user_age).
- Value: The actual data stored inside, such as a number, text, or list.
- Data Type: Defines what kind of data the variable can hold (e.g., Integer, String, Boolean).
### Core Concepts in 2026
- Assignment: The process of putting a value into a variable, usually using the = operator (e.g., x = 10).
- Mutability: Some variables can have their values changed later (mutable), while others are designed to stay fixed (immutable or constants).
- Scope: This determines where in your code the variable is "visible" or accessible. Local variables only exist inside a specific function, while global variables can be accessed from anywhere.
- Dynamic vs. Static Typing: In languages like Python, you don't need to declare the type beforehand (dynamic); the language figures it out automatically. In languages like Java or C, you must specify the type (static) before using it.
### Variables Common Naming Rules
For most modern languages in 2026, variable names must follow these standards to avoid errors:
- Must start with a letter or an underscore (_).
- start small letter for variables, start capital letter for classes, all caps for constant variables.
- Cannot start with a number.
- Can only contain alphanumeric characters and underscores.
- Are case-sensitive (Age and age are different variables).
- Cannot be a reserved keyword (like if, while, or class).

### Variables names examples

In [5]:
username = "rocky" # variable assignment
user_score = 1000 # variable assignment
userDetails = "Rockey from India" # variable assignment
user_1 = "raya" # variable assignment

### Constants names examples

In [ ]:
PI = 3.14  # constant variable assignment
MAX_CONNECTIONS = 5000  # constant variable assignment

### Class Names examples

In [ ]:
class UserAccount: # define a class with a name
    pass

current_user = UserAccount()

### Naming styles by language
- Snake Case: Words are in lowercase and separated by underscores (e.g., my_variable_name).
- Camel Case: The first word is in lowercase, and each subsequent word starts with an uppercase (e.g., firstName, lastName)
- Pascal Case: is a naming convention where the first letter of every word in a compound name is capitalized, with no spaces or underscores (e.g., ElectronicArts)

### Built in Functions in Python
1. Len Function
2. Join Function

### Len Function
- Len function is used to count number of elements in a given dataset. EX: List, tuples, dictionary, array etc

In [1]:
list_names = ["sam", "prince", "alex", "harry"]
print(len(list_names))

4

### Join Function: 
- The `join()` function in Python is used to concatenate elements of an iterable (like a list or tuple) into a single string, with a specified separator between each element.

In [2]:
word1 = "Hello"
word2 = "World!"
concatenate_string = " ".join([word1, word2])
print(concatenate_string)

Hello World!

### Comments in python
- For single lines comments we use # (Hash)
- For multiline comments we use """ """ (Docstrings)

In [3]:
# single line comment 
"""
This is multiline comment which actually consumes memory until
the script is parsed, because they are technically 
strings, not comments.
"""

'\nThis is multiline comment which actually consumes memory until\nthe script is parsed, because they are technically \nstrings, not comments.\n'

### Type function
- Type function is used to know the datatype of the variable.

In [3]:
a = 5
b = "Hi there"
c = 0.8
d = [1, 2, 3]
e = (4, 5, 6)
f = {"name": "John", "age": 30}
g = {1, 2, 3, 4, 5, "car", "bike"}
h = True
i = None
print(type(a), "a")
print(type(b), "b")
print(type(c), "c")
print(type(d), "d")
print(type(e), "e")
print(type(f), "f")
print(type(g), "g")
print(type(h), "h")
print(type(i), "i")

<class 'int'> a
<class 'str'> b
<class 'float'> c
<class 'list'> d
<class 'tuple'> e
<class 'dict'> f
<class 'set'> g
<class 'bool'> h
<class 'NoneType'> i

### Type Conversion
- Type conversion is used to change the datatype of a variable.

In [4]:
a = float(2)
b = int(3.0)
c = complex(2)

print(type(a), a)
print(type(b), b)
print(type(c), c)

<class 'float'> 2.0
<class 'int'> 3
<class 'complex'> (2+0j)

### Data Types in python
- Numeric Types:
    - int: Whole numbers (positive, negative, or zero) with no limit on length.
    - float: Real numbers with floating-point representation, typically accurate to  15 decimal places.
    - complex: Numbers with a real and an imaginary part, denoted by the suffix j (e.g., 3 + 5j).
- Sequence Types: These store ordered collections of items and can be indexed.
    - str (String): Immutable sequences of Unicode characters, enclosed in single, double, or triple quotes.
    - list: Mutable, ordered collections that can hold heterogeneous data types, defined with square brackets [].
    - tuple: Immutable, ordered sequences of elements, typically defined with - parentheses ().
    - range: An immutable sequence of numbers often used for looping.
- Mapping and Set Types:
    - dict (Dictionary): A mutable collection of unique key-value pairs, allowing fast data retrieval using keys.
    - set: A mutable, unordered collection of unique items with no duplicates, defined using curly braces {}.
    - frozenset: An immutable version of a set.
- Other built in Types:
    - bool (Boolean): Represents truth values: True or False. They are a subtype of integers (True is 1, False is 0).
    - NoneType: Represented by the constant None, used to signify the absence of a value or a null object.
    - Binary Types: Includes bytes (immutable), bytearray (mutable), and memoryview (buffer interface) for handling raw binary data

### Numeric Type Examples

In [9]:
a = 24 # int
b = 3.5 # float
c = 2 + 3j # complex
print(a)
print(b)
print(c)

24
3.5
(2+3j)

### Sequence Type Examples

### String

In [ ]:
str_1 = "Hello, World!" # string
print(str_1)

Hello, World!

In [ ]:
# Concatenation of strings through addition operator
str_1 = "Hello, World!"
str_2 = 'Python is fun.'
together = str_1 + " " + str_2
print(together)

Hello, World! Python is fun.

In [12]:
# concatenation of strings
print("Hello, " + "World!")

Hello, World!

In [13]:
# fstring example
name = "Alice"
age = 30
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)

Hello, my name is Alice and I am 30 years old.

### F-string
- An f-string (short for formatted string literal) is the industry-standard way to format and interpolate strings in Python.
- Why Professionals use them:
    - Readability: They are much easier to read than older methods like .format() or %.
    - Speed: f-strings are typically faster than other formatting techniques because they are evaluated at runtime.
    - Modern Features: Since Python 3.12, f-strings have been improved to allow easier nesting and the use of backslashes inside expressions.
    - If you need to print literal curly braces in an f-string, you must double them: f"{{This is in braces}}" will output {This is in braces}.
- How to use f-string
    - Variables: f"Hello, {name}!"
    - Math: f"Total: {price * quantity}"
    - Functions: f"Result: {get_data().upper()}"
    - Debugging: f"{variable=}" (Prints the name AND the value, e.g., variable=10).
- Advanced Formatting
    - F-strings support a "mini-language" for precise control over how data appears: 
    - Precision: {value:.2f} rounds a number to 2 decimal places.
    - Alignment: {text:>10} right-aligns text within a 10-character width.
    - Dates: {now:%Y-%m-%d} formats current date objects.
    - Padding: {num:03d} adds leading zeros (e.g., 007).
    1. Number and Currency Formatting
    You can control decimal places, add thousand separators, and represent percentages automatically.
        - Decimals: f"{3.14159:.2f}" → 3.14 (Rounds to 2 decimal places).
        - Thousand Separator: f"{1000000:,}" → 1,000,000 (Adds commas for readability).
        - Percentages: f"{0.852:.1%}" → 85.2% (Multiplies by 100 and adds %).
        - Padding with Zeros: f"{7:03d}" → 007 (Pads a number to a total of 3 digits). 
    2. Alignment and Padding
    This is useful for creating clean, table-like outputs in the console.
        - Left Align: f"{'hi':<10}" → 'hi ' (Pads with spaces to the right).
        - Right Align: f"{'hi':>10}" → ' hi' (Pads with spaces to the left).
        - Center Align: f"{'hi':^10}" → ' hi ' (Centers text).
        - Custom Fill: f"{'Python':-^14}" → ----Python---- (Uses a custom character like - for padding). 
    3. Date and Time Formatting
    You can format datetime objects directly without using separate methods like strftime.
        - Standard Date: f"{now:%Y-%m-%d}" → 2026-01-12.
        - Day and Month Names: f"{now:%A, %B %d}" → Monday, January 12.
        - Time: f"{now:%I:%M %p}" → 08:17 PM. 
    4. Special Developer Features
    Modern Python versions (3.12+) have introduced powerful new features for f-strings.
        - Debugging (=): f"{user_id=}" → user_id=123 (Prints the variable name and its value simultaneously).
        - Nested f-strings: f"{value:.{precision}f}" (You can use a variable inside the format specifier itself).
        - Reusing Quotes (Python 3.12+): You can now use the same type of quotes inside and outside the f-string, like f"User: {data["name"]}".
        - Multi-line f-strings: Use triple quotes f"""...""" to preserve line breaks while still interpolating variables.

### Lists
- A list contains all datatypes.
- Lists can have duplicate values.

In [3]:
list_ele = ["BMW", 8, "Ferrari", True, "BMW"] # list with duplicate values
print(list_ele)

['BMW', 8, 'Ferrari', True, 'BMW']

- Lists are mutable, we can change their content.

### Append function: 
The append() function adds a single element to the end of a list.

In [17]:
list_ele = ["BMW", 8, "Ferrari", True]
list_ele.append("Audi")
print(list_ele)

['BMW', 8, 'Ferrari', True, 'Audi']

### Extend Function:
Extend function adds any number of elements at the end of the list by using parentheses, parentheses will be ignored in output.

In [18]:
list_ele = ["Optimus Prime", 10, "Bumblebee", 7]
list_ele.extend(("Ratchet", 5, "Ironhide", 6))
print(list_ele)

['Optimus Prime', 10, 'Bumblebee', 7, 'Ratchet', 5, 'Ironhide', 6]

### Insert Function
- Insert function uses index places to insert an element and it only adds one element at once.

In [19]:
list_ele = ["BMW", 8, "Ferrari", True]
list_ele.insert(2, "Audi")
print(list_ele)

['BMW', 8, 'Audi', 'Ferrari', True]

In [ ]:
list_ele = ["BMW", 8, "Ferrari", True]
list_ele[1] = 10 #shortcut to update value at index 1
print(list_ele)

['BMW', 10, 'Ferrari', True]

### Delete Function
- Delete function deletes an element from the list based on the index provided as an argument.
- If index is not provided, it removes the last element of the list by default.

In [ ]:
list_elements = ["Superman", "Batman", "Harley Queen", 
                 "Flash", "Spiderman"]
del list_elements # del deletes the entire list
print(list_elements)

NameError: name 'list_elements' is not defined

In [22]:
list_elements = ["Superman", "Batman", "Harley Queen", 
                 "Flash", "Spiderman", "Venom"]
del list_elements[2] # deletes element at index 2
print(list_elements)

['Superman', 'Batman', 'Flash', 'Spiderman', 'Venom']

### Pop Function
- Pop function deletes an element in list using index number.
- Pop function deletes an element at the end of the list if we do not specify index number.

In [2]:
list_ele = ["Optimus Prime", "Bumble Bee", "Bulk Head", "RC", 
                 "Ratchet", "Smokescream"]
list_ele.pop(3)
print(list_ele)

['Optimus Prime', 'Bumble Bee', 'Bulk Head', 'Ratchet', 'Smokescream']

In [3]:
list_ele = ["Optimus Prime", "Bumble Bee", "Bulk Head", "RC", 
                 "Ratchet", "Smokescream"]
list_ele.pop()
print(list_ele)

['Optimus Prime', 'Bumble Bee', 'Bulk Head', 'RC', 'Ratchet']

### Clear Function
- Clear function removes all elements in a list.

In [4]:
list_elements = ["Bumble Bee", "Optimus Prime", "Bumble Bee", 
                   "Bulk Head", "RC", "Ratchet", "Smokescream"]
list_elements.clear()
print(list_elements)

[]

### Tuples
- Tuples are immutable.
- Tuples can store any datatypes(int, float, string, boolean).
- single tuple can be created ("tranformers",) but we have to put , at the end.
- Tuples can be created by using parenthesis.
- Tuples can have duplicate elements.

In [2]:
list_tuple = ("Transformers", 2007, "Action", 0.5, False)
print(list_tuple) #tuples can have different data types

('Transformers', 2007, 'Action', 0.5, False)

In [ ]:
list_tuple = ("Transformers", "Ironman", "Avengers", "Fast X", "Hulk", "Transformers")
print(list_tuple) #Tuplesple with duplicate values

('Transformers', 'Ironman', 'Avengers', 'Fast X', 'Hulk', 'Transformers')

In [ ]:
list_tuple_movies = ("Transformers",) 
# single element tuple can be created by adding a comma.
print(list_tuple_movies)

('Transformers',)

### Range
- Range() is a built-in function used to generate a sequence of numbers. It is most commonly used in for loops to iterate a specific number of times.
- The function takes three arguments (start, stop, step)
- start(The integer where the sequence begins. ex: 0 or 5)
- stop(The integer where the sequence ends. ex: 10 or 15)
- step(The increment (or decrement) between each number. ex: 2 step or 4 steps)
- We can pass single, double or triple argument.

In [6]:
# Single range argument 
for i in range(5): # it starts from 0 and ends at 4. 
    print(i)

0
1
2
3
4

In [7]:
# double range argument
for i in range(2, 7): # starts from 2 and ends at 6
    print(i)

2
3
4
5
6

In [8]:
# triple range argument
for i in range(1, 10, 2): # starts from 1, ends at 9 with a step of 2
    print(i)

1
3
5
7
9

In [9]:
# negative range 
for i in range(10, 0, -2): # starts from 10, ends at 1 with a step of -2
    print(i)

10
8
6
4
2

In [11]:
numbers = list(range(1,11)) # converts range to list
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Mapping and Set types
- Dictionary contans key and a Value pair ("Key":"value"/"Key":5)
- Dictionary can't be accessed throug index numbers.
- Mutable.
- Duplicates not allowed.
- Any Data type is allowed.
- Dictionary constructor "dict()".
- We can print only keys by using dict.keys(variable name).
- We can print only value by using dict.values(variable name).

In [12]:
list_dict = {"name": "John", "age": 30, "city": "New York"}
print(list_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [13]:
list_dict1 = {"brand": "Ford",
              "model": "Mustang",
              "year": 1964}
list_dict1["brand"] # access value by key (brand is key)

'Ford'

In [14]:
list_dict2 = {"brand": "Toyota",
              "model": "Corolla",
              "year": 2020}
dict.keys(list_dict2) # access all keys using dict.keys()

dict_keys(['brand', 'model', 'year'])

In [15]:
list_dict2 = {"brand": "Toyota",
              "model": "Corolla",
              "year": 2020}
dict.values(list_dict2) # access all values using dict.values()

dict_values(['Toyota', 'Corolla', 2020])

In [16]:
list_diffdatatypes = dict(name="Krish", number=0, float=0.1, boolean=True)
print(list_diffdatatypes) # dictionary created with dict() function

{'name': 'Krish', 'number': 0, 'float': 0.1, 'boolean': True}

### Sets
- Sets are unordered collections of unique elements.
- Unordered, Immutable & Unindexed.
- Duplicate values are not allowed.
- Set can store all data types.

In [18]:
set_int = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(set_int)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
set_string = {"Mahesh Babu", "Ram Charan", "Yash", "Darshan", "NTR", "Ravi Teja"}
print(set_string)

{'Mahesh Babu', 'Darshan', 'Yash', 'Ram Charan', 'NTR', 'Ravi Teja'}

In [20]:
set_No_duplicates = {"Mahesh Babu", "Ram Charan", "Yash", "Darshan", "NTR", "Ravi Teja", "Yash"}
print(set_No_duplicates) # duplicates are removed in set (Yash name has repeated 2 times)

{'Mahesh Babu', 'Darshan', 'Yash', 'Ram Charan', 'NTR', 'Ravi Teja'}

In [21]:
set_alldatatypes = {1, 0.1, True, "Honey Bee"}
print(set_alldatatypes) # set with different data types

{0.1, 1, 'Honey Bee'}

In [22]:
set_constructor = set(("Mahesh Babu", "Ram Charan", "Yash", "Darshan", "NTR", "Ravi Teja", "Yash"))
print(set_constructor) # set created using set() constructor

{'Darshan', 'Ram Charan', 'NTR', 'Ravi Teja', 'Mahesh Babu', 'Yash'}

### Set Union
- Union only prints original values but not the duplicates

In [25]:
set_num_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set_num_2 = {6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
set_union = set_num_1.union(set_num_2) 
# union prints all unique elements from both sets. 
print(set_union) # union of two sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

#### Set intersection
- It only prints out common elements in both sets.

In [27]:
set_num_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set_num_2 = {6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
set_intersection = set_num_1.intersection(set_num_2)
# it only prints common elements in both sets.
print(set_intersection) # intersection of two sets

{6, 7, 8, 9, 10}

### Set Difference
- set difference compares two variable values and prints the value which is not common in both.

In [33]:
set_num_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set_num_2 = {6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
set_difference = set_num_1.difference(set_num_2)
print(set_difference) 
# It takes Set 1 and removes any items that also appear in Set 2, 
# discarding the rest of Set 2 completely.

{1, 2, 3, 4, 5}

### Set Symmetric Difference
- Just like set union print all unique values in both sets.
- same values are not prited.

In [32]:
set_num_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set_num_2 = {6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
set_symmetric_difference = set_num_1.symmetric_difference(set_num_2)
# symmetric difference prints all values except the common values in both sets.
print(set_symmetric_difference)

{1, 2, 3, 4, 5, 11, 12, 13, 14, 15}

### Frozen Set
- A frozenset in Python is an immutable version of a regular set. Once you create it, you cannot add, remove, or update elements.

In [35]:
# Create from a list
fs = frozenset([1, 2, 3, 2]) 

print(fs)
# Output: frozenset({1, 2, 3})  (Notice duplicate '2' is gone)

frozenset({1, 2, 3})

### Other Built-in data types

### Booleans

In [ ]:
a, b = 5, 7
c = a > b
print(c)

False

In [ ]:
a = 10
b = 5
c = a > b
print(c)

True

### None Type
- Nonetype is a data type of None object.
- None is a special constant in Python that represents the absence of a value or a null value.

In [36]:
x = None
print(type(x))

<class 'NoneType'>

### Binary Type
- "Binary Types" refers to data types used to manipulate binary data—raw 0s and 
1s, rather than text or numbers. 
- These are essential when working with images, 
audio files, or network data packets.
- There are three main binary types in Python: bytes, bytearray, and memoryview.

1. bytes (Immutable)
- This is the most common binary type. It is an immutable sequence of integers (ranging from 0 to 255).
- Think of it as: A string, but for raw computer data. You cannot change it once created.
- Syntax: Add a b prefix to a string.

In [40]:
# Creating a bytes object
data = b'Hello'

print(type(data)) 
# Output: <class 'bytes'>

print(data[0])    
# Output: 72 (The ASCII value of 'H')
# You cannot modify data[0] = 65 because bytes are immutable.

<class 'bytes'>
72

2. bytearray (Mutable)
- This is the mutable version of bytes.
- Think of it as: A list of integers (0-255). You can modify elements, remove them, or append new ones.
- Syntax: Use the bytearray() constructor.

In [41]:
# Creating a mutable byte array
mutable_data = bytearray(b'Hello')

# Changing the first letter 'H' (72) to 'J' (74)
mutable_data[0] = 74 

print(mutable_data)
# Output: bytearray(b'Jello')

bytearray(b'Jello')

3. The Relationship Between Strings and Bytes
- This is the most important concept to master. Computers don't understand text; they understand bytes.
- Encoding: Converting Human Text (String) $\rightarrow$ Machine Data (Bytes). 
- Decoding: Converting Machine Data (Bytes) $\rightarrow$ Human Text (String).

In [43]:
text = "café"

# Encode (String -> Bytes)
binary_data = text.encode('utf-8')
print(binary_data)
# Output: b'caf\xc3\xa9' (Notice the special characters are now hex codes)

# Decode (Bytes -> String)
original_text = binary_data.decode('utf-8')
print(original_text)
# Output: café

b'caf\xc3\xa9'
café

4. memoryview (Advanced)
- This type allows you to access the internal data of an object (like a bytes object) without copying it. It is used for high-performance apps involving large data sets (like video processing) to save memory.

In [45]:
data = b'Hello'
view = memoryview(data)

print(view[0]) 
# Output: 72

72

## Operations in python
### Arithmetic Operators
These are basic operators used for some mathematical operations such as 
- Addition (+)
- Subtraction (-)
- Multiplication (*)
- Division (/)
- Modolo (%)
- Exponential (**)
- Floor

#### Creating two operands and performing some arithmetic operations  listed below:

In [ ]:
a = 10
b = 5

print(f'This is an additon operation {a+b}')
print(f'This is an substraction operation {a-b}')
print(f'This is an multiplication operation {a*b}')
print(f'This is an division operation {a/b}')
print(f'This is an modolo operation {a%b}')
print(f'This is an exponential operation {a**b}')

This is an additon operation 15
This is an substraction operation 5
This is an multiplication operation 50
This is an division operation 2.0
This is an modolo operation 0
This is an exponential operation 100000

### Comparison Operators
These are basic operators used for some comparative operations such as 
- Equals (==)
- Not Equals (!=)
- Greater than (>)
- lesser than  (<)
- Greater than or equal to (>=)
- lesser than or equal to (<=)

In [ ]:
a = 5
b = 10

print(f'This is an compartive analysis of equal operators {a==b}')
print(f'This is an compartive analysis of not equal operators {a!=b}')
print(f'This is an compartive analysis of greater than operators {a>b}')
print(f'This is an compartive analysis of lesser than operators {a<b}')
print(f'This is an compartive analysis of Greater than or equal to operators {a>=b}')
print(f'This is an compartive analysis of lesser than or equal to operators {a<=b}')

This is an compartive analysis of equal operators False
This is an compartive analysis of not equal operators True
This is an compartive analysis of greater than operators False
This is an compartive analysis of lesser than operators True
This is an compartive analysis of Greater than or equal to operators False
This is an compartive analysis of lesser than or equal to operators True

### Logical Operator
These are the logical functional operation 
- AND - Compares two logic both have to be true
- OR - Compares two logic either has to be true
- NOT - Compares a logic and returns the either of logic

In [ ]:
a = True
b = False

print(a and b)
print(a or b)

False
True

Not reverses True to False & False to True

In [ ]:
a = 10
b = 15

not(a>b)

True

### Bitwise Operator
These are the Bitwise functional operation
- AND - &
- OR - |
- Not - ~
- XOR - ^
- Right Shift >>
- Left Shift <<

#### AND & Symbol

In [46]:
52 & 42

32

#### OR | Pipe Symbol

In [ ]:
29|15

31

#### NOT ~ (Compliment/tilde) symbol

In [ ]:
~ 70

-71

In [ ]:
~ 29

-30

#### XOR ^ Symbol

In [ ]:
14 ^ 15

1

#### Left Shift <<

In [ ]:
15 << 2

60

#### Right Shift >>

In [ ]:
25 >> 3

3

### Assignment Operator
- Equals (=)
- Add AND (+=)
- Sub AND (-=)
- Mulitply AND (*=)
- divide AND (/=)
- modolo AND (%=)
- floor AND (//=)
- exponent AND (**=)
- Bitwise & AND (&=)
- Bitwise | AND (|=)
- Bitwise ~ AND (~=) this is not an inbuilt operator
- Bitwise ^ AND (^=)
- Bitwise << AND (<<=)
- Bitwise >> AND (>>=)

#### Equals(=)

In [ ]:
a = 5
b = 6
c = a + b
print(c)

11

#### Add Equals(+=)

In [ ]:
a = 5
a += 2
print(a)

7

#### Minus Equals(-=)

In [ ]:
b = 8
b -= 4
print(b)

4

#### Multiple Equals(*=)

In [ ]:
c = 10
c *= 5
print(c)

50

#### Divide Equals(/=)

In [ ]:
d = 10
d /= 2
print(d)

5.0

#### Modulo Equals(%=)

In [ ]:
e = 50
e %= 6
print(e)

2

#### Floor Equals(//=)

In [ ]:
f = 8
f //= 5
print(f)

1

#### Exponenet Equals(**=)

In [ ]:
g = 15
g **= 14
print(g)

29192926025390625

#### Bitwise (&=)

In [ ]:
h = 20
h &= 5
print(h)

4

#### Bitwise (|=)

In [ ]:
i = 25
i |= 15
print(i)

31

#### Bitwise (^=)

In [ ]:
j = 30
j ^= 15
print(j)

17

#### Bitwise (<<=)

In [ ]:
k = 15
k <<= 25
print(k)

503316480

#### Bitwise (>>=)

In [47]:
l = 25
l >>= 3
print(l)

3

### Identity Operator
- is
- is not

#### is operator

In [ ]:
a = 5
b = 20
a is b

False

In [ ]:
a = 5
b = 20
a is not b

True

### Program Flow / Control flow

1. Sequential Flow
2. Decision Flow / Conditional flow
    - if and else, elif
3. Repetitive Flow (loops)
    - for and while loop
    - while loop flow control
        - break: Exits the loop immediately.
        - continue: Skips the rest of the current iteration and jumps back to the start of the loop.

#### Sequential Flow

In [ ]:
a = 10
b = 2

print(a + b)

12

#### Decision Flow

In [ ]:
a = 10
b = 20

if a and b % 2 == 0:
    print("The number is a even number.")
elif a and b % 2 != 0:
    print("The number is a odd number.")
else:
    print("Either even are odd number is present.")

The number is a even number.

In [ ]:
i_p = 7

if i_p % 2 == 0: # This part it is called has header.
    print("The number is even.") # This part is called as suite.
else:
    print("The number is odd.")

The number is odd.

In [ ]:
i_p_1 = 15
i_p_2 = 20

if i_p_1 % 2 == 0 and i_p_2 % 2 == 0:
    print("The given numbers is even.")
elif i_p_1 % 2 != 0 and i_p_2 % 2 != 0:
    print("The given numbers is odd.")
elif i_p_1 % 2 != 0 and i_p_2 == 0:
    print("Even Number")
else:
    print("Either of them are odd or even.")

Either of them are odd or even.

#### Repetitive Flow

In [ ]:
even_list = [2, 4, 6, 8, 10]

for i in even_list:
    print(i * 20)

40
80
120
160
200

In [ ]:
even_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in even_numbers:
    if i % 2 == 0:
        print(f" {i} Even Number")
    else:
        print(f" {i} Odd Number")

 1 Odd Number
 2 Even Number
 3 Odd Number
 4 Even Number
 5 Odd Number
 6 Even Number
 7 Odd Number
 8 Even Number
 9 Odd Number
 10 Even Number

### Construct a for loop to run the list of elements in the given list.

In [ ]:
input_list = [1, 2, 3, 4, 5]
output_list = []

for i in input_list:
    output_list.append(i*10)
print(output_list)

[10, 20, 30, 40, 50]

### Construct a for loop to run the list of elements in the given list for a given condition using IF statement.

In [ ]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output_list = []

for i in input_list:
    if i % 2 == 0:
        output_list.append(i*10)
    else:
        output_list.append(f"{i} -- is an odd number")
print(output_list)

['1 -- is an odd number', 20, '3 -- is an odd number', 40, '5 -- is an odd number', 60, '7 -- is an odd number', 80, '9 -- is an odd number', 100]

### While Loop
- remember to increament i are else the loop will continue to run.

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### Construct a for loop to run the list of elements in the given list for a given condition using while statement.

In [ ]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Initialize a loop variable
i = 0

# Loop through the list using a while statement
while i < len(numbers):
    # Get the current element
    num = numbers[i]

    # Print the element if it is even
    if num % 2 == 0:
        print(num)

    # Increment the loop variable
    i += 1

2
4

### The Break statement
- with break statement we can stop the loop even if the while condition is true.

In [ ]:
i = 1
while i < 6:
    print(i)
    if  i == 3:
        break
    i += 1

1
2
3

### The Continue Statement 
- with continue statement we can stop the current iterationm, and continue to next.

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

### Using else statement in while
- with else statement we can run a block of code once when the condition is no longer true.

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### Comprehension
- Comprehensions in Python provide us with a short and concise way to construct new sequences (such as lists, sets, dictionaries, etc.) using previously defined sequences.

### List Comprehension

#### Normal List

In [ ]:
input_num = [1, 2, 3, 4, 5, 6, 7, 7]
list_emp = []

for i in input_num:
    list_emp.append(i*10)
list_emp

[10, 20, 30, 40, 50, 60, 70, 70]

#### List comprehensions

In [ ]:
input_list = [1, 2, 3, 4, 5, 6, 7, 7]
list_comp = [i*10 for i in input_list]
list_comp

[10, 20, 30, 40, 50, 60, 70, 70]

#### Normal if and else

In [ ]:
list_input = [1, 2, 3, 4, 5, 6, 7, 7]
list_emp = []

for i in list_input:
    if i % 2 == 0:
        list_emp.append(i*10)
    else:
        list_emp.append("odd")
list_emp

['odd', 20, 'odd', 40, 'odd', 60, 'odd', 'odd']

#### List Comprehensions

In [ ]:
list_input = [1, 2, 3, 4, 5, 6, 7, 7]
list_emp = []

list_comp = [i*10 for i in list_input if i % 2 == 0]
list_comp

[20, 40, 60]

In [ ]:
list_complist = [i*10 if i % 2 == 0 else "odd "f'{i}' for i in list_input]
list_complist

['odd 1', 20, 'odd 3', 40, 'odd 5', 60, 'odd 7', 'odd 7']

### Tuple Comprehensions

In [ ]:
list_alphanumeric = ["dog", "cat", "cow", 1, 2, 3]
list_alpha = [x for x in list_alphanumeric if isinstance(x, str)]
list_numeric = [x for x in list_alphanumeric if isinstance(x, int)]
print(list_alpha)
print(list_numeric)

['dog', 'cat', 'cow']
[1, 2, 3]